# Astra DB Credentials Template
# Salin file ini menjadi '.env' di folder yang sama dan isi nilai variabelnya

ASTRA_DB_ID=your_database_id
ASTRA_DB_REGION=us-east-2
ASTRA_DB_KEYSPACE=trackin_ks
ASTRA_DB_CLIENT_ID=your_client_id
ASTRA_DB_CLIENT_SECRET=your_client_secret
ASTRA_DB_TOKEN=your_astracs_token
